name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: preinstall dependencies
      run: sudo apt-get install -y apt-utils software-properties-common && sudo add-apt-repository -y ppa:ubuntuhandbook1/ppa && apt-get update -y && sudo apt-get install -y git build-essential libtool autotools-dev automake pkg-config libssl-dev libevent-dev bsdmainutils python3 libboost-system-dev libboost-filesystem-dev libboost-chrono-dev libboost-program-options-dev libboost-test-dev libboost-thread-dev libqt5gui5 libqt5core5a libqt5dbus5 qttools5-dev qttools5-dev-tools libprotobuf-dev protobuf-compiler libboost-all-dev software-properties-common libminiupnpc-dev libzmq3-dev libqt4-dev wget unzip qt4-qmake
    - name: db-4.8.30
      run: wget http://download.oracle.com/berkeley-db/db-4.8.30.zip && unzip db-4.8.30.zip && cd db-4.8.30/build_unix && sed -i 's/__atomic_compare_exchange/db_atomic_compare_exchange_db/g' ../dbinc/atomic.h && ../dist/configure --prefix=/usr --enable-cxx && make && sudo make install && cd ..
    - name: configure
      run: chmod +x src/leveldb/build_detect_platform && cd src && make -f makefile.unix && cd .. #&& qmake && make
